:root{
    --blue--:#1666af;
    --black--:#090c17;
    --bblack--:#12141c;
    --white--:#fff;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--black--);
}
@font-face{
    font-family: font;
    src: url(Montserrat-ExtraLight.ttf);
    font-size: 20px;
}
/* ============nav bar ============== */
.nav{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: var(--bblack--);
    padding:50px 90%;
}
.nav_logo{
    position: fixed;
    top: 2%;
    left: 5%;
}
.nav_info form input{
      position: fixed;
      top:6%;
      left:54%;
      border-radius: 10px;
      border: 2px solid var(--black--);
      background-color: var(--bblack--);
      transition: 1s;
      padding-left: 10px;
}
.nav_info form input:hover{
    background-color: var(--white--);
    text-decoration: none;
}

.nav_info{
    position: fixed;
    top: 6%;
    left: 70%;
   
}
.nav_info a{
    
    text-decoration: none;
    color: var(--white--);
    font-size: 15px;
    font-family: allfont;
    padding: 8px 20px;
    font-family: font;
}
.nav_info a:hover{
    border: 2px solid var(--blue--);
   
}
.nav_info form i{
    position: fixed;
    color: var(--blue--);
    top: 6.9%;
    left:54.9%;
    z-index: 2;
}
/* =========home page ========= */

.home_image{
    margin-top: 100px;
    transform: scaleX(100px);
}